html,
body {
  overflow-x: hidden;
}

body {
  padding: 2.7rem 0rem 5rem 0rem;

  @media screen and (min-width: 48em) {
    padding: 4rem 0rem 4.3rem 0rem;
  }

  @media screen and (min-width: 64em) {
    padding-top: 5.5rem;
    padding-left: max(3.9rem, calc(50% - 55.5rem));
    padding-right: max(3.9rem, calc(50% - 55.5rem));
    padding-bottom: 3.9rem;
  }
}