doctype html
html
  include includes/head.pug
body
  include includes/navbar.pug
  main
    include includes/hero.pug
    section.product
      include includes/product-display.pug
      include includes/product-characteristics.pug
  script(src="assets/js/main.js")
  include includes/footer.pug