$white: #ffffff;
$light-greyish-blue: #e8eff2;
$dark-greyish-blue: #7b8bad;
$dark-blue: #162542;
$light-orange: #ff9b62;
$orange: #f16718;
$default-font-size: 1.6rem;
$title-1-font-size: 4.8rem;
$title-2-font-size: 3.2rem;
$title-3-font-size: 2.4rem;
