$white: #ffffff;
$light-greyish-blue: #e8eff2;
$dark-greyish-blue: #7b8bad;
$dark-blue: #162542;
$light-orange: #ff9b62;
$orange: #f16718;
$base-font-size: 1.6rem;
$large-font-size: 1.8rem;
$title-1-size: 4.8rem;
$title-2-size: 3.2rem;
$title-3-size: 2.4rem;
$title-1-size-desktop: 5.6rem;
