@use "../../../abstracts/variables" as var;

.overlay-container {
    position: relative;
    width: 100%;
    height: auto;

    .overlay {
        mix-blend-mode: multiply;
        position: absolute;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        background-color: var.$orange;
        opacity: 0.90;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

        @media screen and (min-width: 48em) {
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
        }
    }
}