body {
  padding: 2.7rem 0rem 5rem 0rem;
}
@media screen and (min-width: 48em) {
  body {
    padding: 4rem 0rem 4.3rem 0rem;
  }
}
@media screen and (min-width: 64em) {
  body {
    padding: 5.5rem 3.9rem 3.9rem 3.9rem;
  }
}
@media screen and (min-width: 69.375em) {
  body {
    padding-left: calc(50% - 55.5rem);
    padding-right: calc(50% - 55.5rem);
  }
}