.button {
  padding: 1.1rem 1.4rem;
  border: none;
  border-radius: 8px;
  min-width: max-content;
}
.button:hover {
  cursor: pointer;
}

.navbar-button {
  background-color: #e8eff2;
}
.navbar-button:hover {
  background-color: #162542;
}

.primary-button {
  background-color: #f16718;
}
.primary-button:hover {
  background-color: #ff9b62;
}