.navbar-container {
  margin-bottom: 6.4rem;
}
@media screen and (min-width: 48em) {
  .navbar-container {
    margin-bottom: 6.2rem;
  }
}
@media screen and (min-width: 64em) {
  .navbar-container {
    margin-bottom: 8.3rem;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}