.product__title-container {
  text-align: center;
}
@media screen and (min-width: 48em) {
  .product__title-container {
    text-align: left;
  }
}
.product__title-container .title {
  margin-bottom: 2.4rem;
}

@media screen and (min-width: 64em) {
  .product__display {
    display: grid;
    gap: 12.5rem;
    grid-template-columns: 7.2fr 2.5fr;
  }
}

.product__summary {
  margin-top: 7.5rem;
  margin-bottom: 11.1rem;
}
@media screen and (min-width: 48em) {
  .product__summary {
    display: grid;
    gap: 3.9rem;
    grid-template-columns: 3fr 7fr;
    margin-top: 7.2rem;
    margin-bottom: 14.2rem;
  }
}
@media screen and (min-width: 64em) {
  .product__summary {
    margin-top: 11.2rem;
    margin-bottom: 10.3rem;
    grid-template-columns: auto;
    gap: 0.3rem;
  }
}

.product__characteristics {
  display: grid;
  gap: 6.4rem;
}
@media screen and (min-width: 48em) {
  .product__characteristics {
    grid-template-columns: 1fr 1fr;
    gap: 6.9rem;
  }
}
@media screen and (min-width: 64em) {
  .product__characteristics {
    margin-top: 16.8rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3rem;
  }
}

.product__characteristic {
  text-align: center;
}
@media screen and (min-width: 48em) {
  .product__characteristic {
    text-align: left;
  }
}