.has-lateral-padding {
  padding-left: 2.4rem;
  padding-right: 2.4rem;
}
@media screen and (min-width: 48em) {
  .has-lateral-padding {
    padding-left: 3.9rem;
    padding-right: 3.9rem;
  }
}
@media screen and (min-width: 64em) {
  .has-lateral-padding {
    padding-left: 0;
    padding-right: 0;
  }
}