.hero {
  position: relative;
  display: grid;
  gap: 6.4rem;
  margin-bottom: 2.4rem;

  @media screen and (min-width: 48em) {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 0;
    margin-bottom: 4rem;
  }

  @media screen and (min-width: 64em) {
    gap: 12.5rem;
  }
}

.hero__content {
  @media screen and (min-width: 48em) {
    &.has-lateral-padding {
      padding-right: 0;
    }
  }
}

.hero__title-container {
  display: grid;
  gap: 3.2rem;
  margin-bottom: 3.2rem;

  @media screen and (min-width: 48em) {
    gap: 3.9rem;
  }

  @media screen and (min-width: 64em) {
    gap: 4rem;
  }
}

.cta-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 3.2rem;

  .info {
    text-align: center;
  }
}