@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;700;900&family=Libre+Franklin&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1;
}

a {
  text-decoration: none;
}

img {
  object-fit: cover;
}

* {
  font-family: "Barlow", sans-serif;
}

.button {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}

.primary-button {
  color: #ffffff;
}

.navbar-button:hover {
  color: #ffffff;
}

.title {
  color: #162542;
  font-weight: 900;
  text-transform: uppercase;
}

.title-1 {
  font-size: 4.8rem;
  font-weight: 900;
  line-height: 48px;
}
@media screen and (min-width: 48em) {
  .title-1 {
    font-size: 5.6rem;
    line-height: 56px;
  }
}

.title-2 {
  font-size: 3.2rem;
  line-height: 28px;
}

.title-3 {
  font-size: 2.4rem;
  line-height: 28px;
}

p {
  color: #7b8bad;
  font-size: 1.6rem;
  line-height: 26px;
}
p.info {
  font-weight: 700;
  text-transform: uppercase;
}

.copyright {
  text-align: center;
  color: #7b8bad;
  font-size: 1.6rem;
  line-height: 26px;
  font-weight: 500;
}
.copyright .highlighted {
  font-weight: 700;
}

html, body {
  overflow-x: hidden;
}

body {
  padding: 2.7rem 0rem 5rem 0rem;
}
@media screen and (min-width: 48em) {
  body {
    padding: 4rem 0rem 4.3rem 0rem;
  }
}
@media screen and (min-width: 64em) {
  body {
    padding: 5.5rem 3.9rem 3.9rem 3.9rem;
  }
}
@media screen and (min-width: 69.375em) {
  body {
    padding-left: calc(50% - 55.5rem);
    padding-right: calc(50% - 55.5rem);
  }
}

.button {
  padding: 1.1rem 1.4rem;
  border: none;
  border-radius: 8px;
  min-width: max-content;
}
.button:hover {
  cursor: pointer;
}
@media screen and (min-width: 48em) {
  .button {
    padding: 1.6rem 2.6rem;
  }
}

.navbar-button {
  background-color: #e8eff2;
}
.navbar-button:hover {
  background-color: #162542;
}

.primary-button {
  background-color: #f16718;
}
.primary-button:hover {
  background-color: #ff9b62;
}

.product__images-container {
  display: grid;
  grid-template-columns: 4fr 6fr;
  gap: 2.4rem;
  padding-right: 2.4rem;
  overflow: hidden;
}
@media screen and (min-width: 48em) {
  .product__images-container {
    grid-template-columns: 3fr 7fr;
    padding-right: 3.9rem;
    padding-left: 3.9rem;
    gap: 3.05rem;
  }
}
@media screen and (min-width: 64em) {
  .product__images-container {
    padding-right: 0;
    padding-left: 0;
  }
}

.hero__image-container {
  padding-left: 2.4rem;
  overflow: hidden;
}
@media screen and (min-width: 48em) {
  .hero__image-container {
    padding-left: 6.9rem;
  }
}
@media screen and (min-width: 64em) {
  .hero__image-container {
    padding-left: 0;
  }
}

.overlay-container {
  position: relative;
  width: 100%;
  height: auto;
}
.overlay-container .overlay {
  mix-blend-mode: multiply;
  position: absolute;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: #f16718;
  opacity: 0.7486;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
@media screen and (min-width: 48em) {
  .overlay-container .overlay {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
}

#hero-keyboard {
  width: calc(100% + 2.4rem);
}
@media screen and (min-width: 48em) {
  #hero-keyboard {
    width: calc(100% + 6.9rem);
    height: auto;
  }
}
@media screen and (min-width: 64em) {
  #hero-keyboard {
    width: 100%;
  }
}

#left-product-image {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
@media screen and (min-width: 48em) {
  #left-product-image {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
}

#upper-square-pattern {
  display: none;
}
@media screen and (min-width: 64em) {
  #upper-square-pattern {
    display: inline-block;
    position: absolute;
    right: -28.5rem;
    top: 0;
  }
}

#lower-square-pattern {
  display: none;
}
@media screen and (min-width: 64em) {
  #lower-square-pattern {
    display: inline-block;
    position: absolute;
    left: -28.5rem;
    bottom: 0;
  }
}

.product__image {
  width: 100%;
}

.product__icon {
  border-radius: 20px;
  margin-bottom: 4.8rem;
}
@media screen and (min-width: 48em) {
  .product__icon {
    margin-bottom: 4rem;
  }
}
@media screen and (min-width: 64em) {
  .product__icon {
    margin-bottom: 4.8rem;
  }
}

.navbar-container {
  margin-bottom: 6.4rem;
}
@media screen and (min-width: 48em) {
  .navbar-container {
    margin-bottom: 6.2rem;
  }
}
@media screen and (min-width: 64em) {
  .navbar-container {
    margin-bottom: 8.3rem;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero {
  position: relative;
  display: grid;
  gap: 6.4rem;
  margin-bottom: 2.4rem;
}
@media screen and (min-width: 48em) {
  .hero {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 0;
    margin-bottom: 4rem;
  }
}
@media screen and (min-width: 64em) {
  .hero {
    gap: 12.5rem;
  }
}

@media screen and (min-width: 48em) {
  .hero__content.has-lateral-padding {
    padding-right: 0;
  }
}

.hero__title-container {
  display: grid;
  gap: 3.2rem;
  margin-bottom: 3.2rem;
}
@media screen and (min-width: 48em) {
  .hero__title-container {
    gap: 3.9rem;
  }
}
@media screen and (min-width: 64em) {
  .hero__title-container {
    gap: 4rem;
  }
}

.cta-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 3.2rem;
}
.cta-container .info {
  text-align: center;
}

.product__characteristics {
  display: grid;
  gap: 6.4rem;
}
@media screen and (min-width: 48em) {
  .product__characteristics {
    grid-template-columns: 1fr 1fr;
    gap: 6.9rem;
  }
}
@media screen and (min-width: 64em) {
  .product__characteristics {
    margin-top: 16.8rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3rem;
  }
}

.product__characteristic {
  text-align: center;
}
@media screen and (min-width: 48em) {
  .product__characteristic {
    text-align: left;
  }
}

.product__display {
  position: relative;
}
@media screen and (min-width: 64em) {
  .product__display {
    display: grid;
    gap: 12.5rem;
    grid-template-columns: 7.2fr 2.5fr;
  }
}

.product__summary {
  margin-top: 7.5rem;
  margin-bottom: 11.1rem;
}
@media screen and (min-width: 48em) {
  .product__summary {
    display: grid;
    gap: 3.9rem;
    grid-template-columns: 3fr 7fr;
    margin-top: 7.2rem;
    margin-bottom: 14.2rem;
  }
}
@media screen and (min-width: 64em) {
  .product__summary {
    margin-top: 11.2rem;
    margin-bottom: 10.3rem;
    grid-template-columns: auto;
    gap: 0.3rem;
  }
}

.product__title-container {
  text-align: center;
}
@media screen and (min-width: 48em) {
  .product__title-container {
    text-align: left;
  }
}
.product__title-container .title {
  margin-bottom: 2.4rem;
}

footer {
  margin-top: 9.6rem;
}
@media screen and (min-width: 48em) {
  footer {
    margin-top: 14.2rem;
  }
}
@media screen and (min-width: 48em) {
  footer {
    margin-top: 12.8rem;
  }
}

.has-lateral-padding {
  padding-left: 2.4rem;
  padding-right: 2.4rem;
}
@media screen and (min-width: 48em) {
  .has-lateral-padding {
    padding-left: 3.9rem;
    padding-right: 3.9rem;
  }
}
@media screen and (min-width: 64em) {
  .has-lateral-padding {
    padding-left: 0;
    padding-right: 0;
  }
}

.has-rounded-edges {
  border-radius: 20px;
}