head
    title Typemaster Pre-launch LP
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='icon' href='assets/images/favicon-32x32.png' type='image/png')
    link(rel='stylesheet' href='assets/css/main.min.css')
    link(rel='preload' as='image' href='assets/images/tablet/image-keyboard.jpg')
    link(rel='preload' as='image' href='assets/images/desktop/image-keyboard.jpg')
    link(rel='preload' as='image' href='assets/images/tablet/image-glass-and-keyboard.jpg')
    link(rel='preload' as='image' href='assets/images/desktop/image-glass-and-keyboard.jpg')
    link(rel='preload' as='image' href='assets/images/tablet/image-phone-and-keyboard.jpg')
    link(rel='preload' as='image' href='assets/images/desktop/image-phone-and-keyboard.jpg')
    link(rel='preconnect' href='https://fonts.googleapis.com/' crossorigin)
    link(rel='preconnect' href='https://fonts.gstatic.com/' crossorigin)