head
    title Typemaster Pre-launch LP
    link(rel='stylesheet' href='assets/css/main.css')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='preconnect' href='https://fonts.googleapis.com/' crossorigin)
    link(rel='preconnect' href='https://fonts.gstatic.com/' crossorigin)