section.hero
  .hero__content.has-lateral-padding
    .hero__title-container
      h1.title.title-1 Typemaster Keyboard
      p.subtitle Improve your productivity and gaming without breaking the bank. Upgrade to a high quality mechanical typing experience.
    .cta-container
      button.button.primary-button Pre-order Now
      p.info Release on 5/27
  .hero__image
    img.has-rounded-edges#hero-keyboard(src="assets/images/mobile/image-keyboard.jpg" alt="Typemaster Keyboard" width="372" height="331")