section.hero
  .hero__content.has-lateral-padding
    .hero__title-container
      h1.title.title-1 Typemaster <br/> Keyboard
      p.subtitle Improve your productivity and gaming without breaking the bank. Upgrade to a high quality mechanical typing experience.
    .cta-container
      button.button.primary-button Pre-order Now
      p.button.info Release on 5/27
  .hero__image-container
    img.has-rounded-edges#hero-keyboard(src="assets/images/mobile/image-keyboard.jpg" alt="Typemaster Keyboard" width="372" height="331")
  img(src="assets/images/shared/pattern-square.svg" id="upper-square-pattern" alt="Square pattern" width="255" height="240")