header 
  navbar.navbar.has-lateral-padding
    .navbar__brand
      img#logo(src="assets/images/shared/logo.svg" alt="Typemaster Logo" width="40" height="40")
    button.button.navbar-button Pre-order Now
