.product__caracteristics.has-lateral-padding
  .product__caracteristic 
    img.product__icon(src="assets/images/shared/icon-compatible.png" alt="Desktop icon" width="65" height="65")
    .product__title-container
      h3.title.title-3 Highly Compatible
      p.subtitle Easy to use and works well with all major computer brands, gaming consoles and mobile devices. Plug & play, no installation or driver needed.
  .product__caracteristic 
    img.product__icon(src="assets/images/shared/icon-bluetooth.png" alt="Bluetooth icon" width="65" height="65")
    .product__title-container
      h3.title.title-3 Wireless With Bluetooth
      p.subtitle Powerful 2.4G RF technology allows you to connect the cordless keyboard from up to 30ft away. Simply plug the unifying receiver into your computer.
  .product__caracteristic 
    img.product__icon(src="assets/images/shared/icon-battery.png" alt="Battery icon" width="65" height="65")
    .product__title-container
      h3.title.title-3 High Capacity Battery
      p.subtitle Equipped with a long-lasting built-in battery, you’ll never have to spend a dime on replaceable ones. Enjoy 40 hours of usage time between charges.
  .product__caracteristic 
    img.product__icon(src="assets/images/shared/icon-light.png" alt="Light icon" width="65" height="65")
    .product__title-container
      h3.title.title-3 RGB Backlit Modes
      p.subtitle Choose from 4 backlight brightness levels and adjustable breathing speed. Each key glows intensely in the dark and helps you type in low light conditions.