.product__display
    .product__images
        .overlay-container
            img.has-rounded-edges.product__image#left-product-image(src="assets/images/mobile/image-phone-and-keyboard.jpg" alt="Mechanical Wireless Keyboard" width="129" height="193")
            .overlay.has-rounded-edges
        img.has-rounded-edges.product__image#right-product-image(src="assets/images/mobile/image-glass-and-keyboard.jpg" alt="Mechanical Wireless Keyboard on a table" width="220" height="193")
    .product__title-container.has-lateral-padding
        h2.title.title-2 Mechanical Wireless Keyboard
        p.subtitle The Typemaster keyboard boasts top-notch build and practical design. It offers a wide variety of switches and keycaps, along with reliable wireless connectivity.